<%- include('partials/head') %>
<body>
    <div>
        <form class="busca" action="/search" method="POST">
            <input class="pesquisa" placeholder="Qual a receita de hoje?" type="text" name="query">
            <input class="button-search" type="image" src="/image/search_locate_find_icon-icons.com_67287.png"></input>
        </form>
    </div>
   <div class="container">
    <%if(recipes){%>
    <h1>Aqui estão alguns resultados para sua busca</h1>
    <ul class="lista-resultado">
    <% recipes.forEach(recipe =>{%>
        <li >
            <a href="/recipe/<%=recipe.id%>">
                <div class="recipe-card">
                    <img class="recipe-image" src="<%=recipe.image%>" alt="">
                    <h2 class="recipe-title"><%=recipe.title%></h2>
                </div>
            </a>
        </li>
    <%})%>
    </ul>
    <% } else { %> 
        <h1>nao encontrado</h1>
   <%}%>
    <a href="/">
        <p id="voltar">Voltar</p>
    </a>
   </div>
      
   <%- include('partials/footer') %>