<%- include('partials/head') %>
<body>
    <div>
        <form class="busca" action="/search" method="POST">
            <input class="pesquisa" placeholder="Qual a receita de hoje?" type="text" name="query">
            <input class="button-search" type="image" src="/image/search_locate_find_icon-icons.com_67287.png"></input>
        </form>
    </div>
   <div class="container">
    <%if(recipes){%>
    <h1>Aqui estão alguns resultados para sua busca</h1>
    <ul class="lista-resultado">
    <% recipes.forEach(recipe =>{%>
        <li >
            <a href="/recipe/<%=recipe.id%>">
                <div class="recipe-card">
                    <img class="recipe-image" src="<%=recipe.image%>" alt="">
                    <h2 class="recipe-title"><%=recipe.title%></h2>
                    <label class="ui-bookmark">
                        <input type="checkbox">
                        <div class="bookmark">
                          <svg viewBox="0 0 32 32">
                            <g>
                              <path d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z"></path>
                            </g>
                          </svg>
                        </div>
                      </label>
                </div>
            </a>
        </li>
    <%})%>
    </ul>
    <% } else { %> 
        <h1>nao encontrado</h1>
   <%}%>
    <a href="/">
        <p id="voltar">Voltar</p>
    </a>
   </div>
      
   <%- include('partials/footer') %>