<%- include('../partials/head') %>

<body>
    <div>
        <form class="busca" action="/search" method="POST">
            <input class="pesquisa" placeholder="Qual a receita de hoje?" type="text" name="query">
            <input class="button-search" type="image" src="/image/search_locate_find_icon-icons.com_67287.png"></input>
        </form>
    </div>
    <div class="container">
        <h1 class="recipe-title">
            <%=recipe.title%>
        </h1>
        <img class="recipe-img" src="<%=recipe.image%>" alt="">
        <h2 class="about-recipe">Ingredientes</h2>
        <ul  class="text-recipe">
            <% if (recipe.extendedIngredients && recipe.extendedIngredients.length > 0) { %>
                <h2 class="about-recipe">Ingredientes</h2>
                <ul class="text-recipe">
                    <% recipe.extendedIngredients.forEach(ingredient => { %>
                        <li><%= ingredient.original %></li>
                    <% }) %>
                </ul>
            <% } else { %>
                <p>Nenhum ingrediente disponível.</p>
            <% } %>
        </ul>
        <h2 class="about-recipe">Instruções</h2>
        <ol class="text-recipe">
            <% if (recipe.analyzedInstructions && recipe.analyzedInstructions.length > 0 && recipe.analyzedInstructions[0].steps) { %>
                <ol class="text-recipe">
                    <% recipe.analyzedInstructions[0].steps.forEach(step => { %>
                        <li><%= step.step %></li>
                    <% }) %>
                </ol>
            <% } else { %>
                <p>Nenhuma instrução disponível.</p>
            <% } %>
        </ol>
        <form id="f" action="/infoProfile/<%= recipe.id %>?_method=DELETE" method="post">
            <button class="btn" type="button" onClick="confirm('Tem certeza que deseja apagar a receita <%= recipe.title %>?') ? document.getElementById('f').submit() : false">Remover da minha lista</button>
        </form>
        <a href="/">
            <p id="voltar">Voltar</p>
        </a>
    </div>
 